
        
     	{% extends 'base.html' %}
        <!--================Header Menu Area =================-->

		{% block content %}

		
        <!--================Home Banner Area =================-->
		<section class="home_banner_area" id="unique">
			<div class="container box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media">
							<div class="card-container">
								<span class="pro">python</span>
								<img class="round" src="{{ url_for('static', filename='img/profile-removebg-preview (1).png') }}" alt="user">
								<h3>Ratheesh</h3>
								<h6>Kanniyakumari</h6>
								<p>Python Developer<br/>Machine Learning Engineer</p>
								
			<div class="container mt-5">
    <div class="buttons">
        <button class="primary">Message</button>
        <a href="{{ url_for('download_resume') }}" class="download-button">
            <i ></i> Download 
        </a>
        </form>
    </div>
</div>
								<div class="skills">
									<h6>Skills</h6>
									<ul>

										<ul class="icon-list">
	<li><i></i> python</li>
    <li><i></i> pandas</li>
    <li><i></i> numpy</li>
    <li><i ></i> scikit-learn</li>
    <li><i ></i> mysql</li>
    <li><i ></i> Html</li>
    <li><i ></i> css</li>
    <li><i ></i> git hub</li>
										</ul>
										
									</ul>
									
									
								</div>
							</div>
							<div class="media-body">
								<div class="personal_text">
									<h6>Hello Everybody, I am</h6><br/>
									<h3>R.Ratheesh</h3>
									<h4>Junior python Developer</h4>
									<p>As a Python developer, I specialize in leveraging the language's robust capabilities to create efficient and scalable solutions. My expertise lies in crafting software that optimizes performance and user experience, drawing inspiration from the Dickens Pattern, where insightful comparisons reveal diverse potential outcomes, much like Scrooge's transformative journey</p>
									<ul class="list basic_info">
										<li><a href="#"><i class="lnr lnr-calendar-full"></i> 4st April,2001</a></li>
										<li><a href="#"><i class="lnr lnr-phone-handset"></i> 9655845378</a></li>
										<li><a href="#"><i class="lnr lnr-envelope"></i> ratheesh.rit@gmail.com</a></li>
										<li><a href="#"><i class="lnr lnr-home"></i> Marthandam ,Kanniyakumari</a></li>
									</ul>
									
									
									<ul class="list personal_social">						
												&nbsp;&nbsp;
												&nbsp;&nbsp;
										<li><a href="https://www.facebook.com/r.ratheesh.92/"  target="_blank"><i class="fa fa-facebook"></i></a></li>												&nbsp;&nbsp;
										&nbsp;&nbsp;

										<li><a href="mailto:ratheesh.rit@gmail.com" target="_blank"><i class="fa fa-google"></i></a></li>

										<li><a href="https://www.linkedin.com/in/ratheesh-pythondeveloper/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
        <!--================End Home Banner Area =================-->
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>About Myself</h4>
        					<p style="color:black; font-size:15px;">As I pursue Python development, I prioritize professionalism and integrity in all aspects of my work. I believe in exceeding expectations and contributing innovative solutions. With a strong commitment to mastering Python, I aim to bring technical excellence and collaborative prowess to your team, fostering a culture of respect and achievement.</p>
        					<div class="row">
        						<div class="col-md-4">
        							<div class="wel_item">
        								<i class="lnr lnr-database"></i>
        								<h4>₹40000</h4>
        								<p>Total Donation</p>
        							</div>
        						</div>
        						<div class="col-md-4">
        							<div class="wel_item">
        								<i class="lnr lnr-book"></i>
        								<h4>100</h4>
        								<p>Total Projects</p>
        							</div>
        						</div>
        						<div class="col-md-4">
        							<div class="wel_item">
        								<i class="lnr lnr-users"></i>
        								<h4>10</h4>
        								<p>Total Volunteers</p>
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="tools_expert">
        					<div class="skill_main">
								<div class="skill_item">
									<h4>python <span class="counter">85</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Pandas <span class="counter">90</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>numpy <span class="counter">70</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>scikit-learn &nbsp;<span class="counter">95</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="skill_item">
									<h4>Mysql&nbsp; <span class="counter">75</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->
        
        <!--================My Tabs Area =================-->
        <section class="mytabs_area p_120">
        	<div class="container">
        		<div class="tabs_inner">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Experiences</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Education</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<ul class="list">
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>July 2022 to present</p>
										</div>
										<div class="media-body">
											<h4>Vision group</h4>
											<p>image recognition  <br />Nagercoil,Kanniyakumari</p>
										</div>
									</div>
								</li>
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>March 2023 to present</p>
										</div>
										<div class="media-body">
											<h4>Vision group</h4>
											<p>image recognition  <br />Nagercoil,Kanniyakumari</p>
										</div>
									</div>
								</li>
								<li>
								<span></span>
									<div class="media">
										<div class="d-flex">
											<p>March 2024 to present</p>
										</div>
										<div class="media-body">
											<h4>Vision group</h4>
											<p>image recognition  <br />Nagercoil,Kanniyakumari</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							<ul class="list">
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>March 2016 to 2018 </p>
										</div>
										<div class="media-body">
											<h4>12th</h4>
											<p>computer science <br />K.A.BK.A.B.D. MATRIC. HR. SEC. SCHOOL, PAINKULAM</p>
										</div>
									</div>
								</li>
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>March 2018 to march 2022</p>
										</div>
										<div class="media-body">
											<h4>Electronic and communication Engineer</h4>
											<p>ponjesly college of Engineering<br />Nagercoil,Kanniyakumari</p>
										</div>
									</div>
								</li>
								<li>
								
						</div>
					</div>
        		</div>
        	</div>
        </section>
        <!--================End My Tabs Area =================-->
        
        <!--================Feature Area =================-->
        <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>offerings to my clients</h2>
        			<p style="color:black; font-size:15px;">If you're browsing Python development resources, you might find a wide range of prices for blank cassettes. Prices can vary significantly, with some available for as little as ₹25,000 each.</p>
        		</div>
        		<div class="feature_inner row">
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<i class="flaticon-city"></i>
        					<h4>leader board (Vision group)</h4>
        					<p style="color:black; font-size:15px;">While currently in a non-technical role, I've utilized Python to innovate within Vision Group, enhancing operational efficiency. Implementing solutions such as a leaderboard and real-time data display on a wall-mounted TV, updated every 5 seconds, has empowered teams to track and improve their performance effectively</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<i class="flaticon-skyline"></i>
        					<h4> Revolutionizing Retail: Custom Web Development for Small Shops</h4>
        					<p style="color:black; font-size:15px;">For small shop web development, I bring a tailored approach that focuses on creating impactful and user-friendly online experiences. Whether it's enhancing e-commerce functionality, integrating secure payment gateways, or optimizing for mobile responsiveness, </p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<i class="flaticon-sketch"></i>
        					<h4> Machine Learning with Scikit-Learn</h4>
        					<p style="color:black; font-size:15px;">My project focuses on harnessing the power of machine learning through scikit-learn, a versatile and efficient library in Python. With scikit-learn, I am developing a robust predictive model that analyzes complex datasets to uncover valuable insights and make data-driven decisions. By leveraging various algorithms such as linear regression, decision trees</p>
        				</div >
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->
        
        <!--================Home Gallery Area =================-->
        <section class="home_gallery_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Our Latest Featured Projects</h2>
        			<p>Who are in extremely love with eco friendly system.</p>
        		</div>
        		<div class="isotope_fillter">
        			<ul class="gallery_filter list">
						<li class="active" data-filter="*"><a href="#">All</a></li>
						<li data-filter=".brand"><a href="{{ url_for('python_project') }}">Python</a></li>
						<li data-filter=".manipul"><a href="{{ url_for('ml_project') }}">Ml project</a></li>
						<li data-filter=".creative"><a href="{{ url_for('web_project') }}">web project</a></li>
						<li data-filter=".design"><a href="{{ url_for('mini_project') }}">mini project</a></li>
					</ul>
        		</div>
        	</div>
        	<div class="container">
        		<div class="gallery_f_inner row imageGallery1">
        			<div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
								<img class="img-fluid" src="{{ url_for('static', filename='img/project/leaderboard.jpg') }}" alt="Project 1">
        						<a class="light" href="{{ url_for('static', filename='img/project/leaderboard.jpg') }}" ><img src="{{ url_for('static',filename='img/gallery/icon.png') }}" alt="">
								</a>
        					</div>
        					<div class="g_item_text">
        						<h4>office leaderboard</h4>



								<a href="https://github.com/ratheesh98git/-Office-Leaderboard" class="ratheesh"><span>View on GitHub</span></a>
							
							</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 brand manipul creative">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
								<img class="img-fluid" src="{{ url_for('static', filename='img/project/stock_company date prediction.png') }}" alt="">
        						<a class="light" href="{{ url_for('static', filename='img/project/stock_company date prediction.png') }}" ><img src="{{ url_for('static', filename='img/gallery/icon.png') }}" alt="">
								</a>
        					</div>
        					<div class="g_item_text">
        						<h4>Stock Market Analysis and Investing</h4>
								<a href="https://colab.research.google.com/drive/13enMGRuqYOrysOWVjWYqkycrTRIjxHRT?usp=sharing" class="ratheesh"><span>View on GitHub</span></a>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 manipul creative design print">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
								<img class="img-fluid" src="{{ url_for('static', filename='img/project/vehicle.jpeg') }}" alt="">
        						<a class="light" href="{{ url_for('static', filename='img/project/vehicle.jpeg') }}"><img src="{{ url_for('static',filename='img/gallery/icon.png') }}" alt="">
								</a>
        					</div>
        					<div class="g_item_text">
        						<h4>Autonomous Vehicle Navigation System</h4>
								<a href="https://github.com/ratheesh98git/Autonomous-Vehicle-Navigation-System" class="ratheesh"><span>View on GitHub</span></a>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 brand creative print">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
								<img class="img-fluid" src="{{ url_for('static', filename='img/project/sentlement_analysis.png') }}" alt="">
        						<a class="light" href="{{ url_for('static', filename='img/project/sentlement_analysis.png') }}" ><img src="{{ url_for('static', filename='img/gallery/icon.png') }}" alt="">
								</a>
        					</div>
        					<div class="g_item_text">
        						<h4>Natural Language Processing for Sentiment Analysis</h4>								</h4>
								<a href="https://github.com/ratheesh98git/Natural-Language-Processing-for-Sentiment-Analysis" class="ratheesh"><span>View on GitHub</span></a>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 brand manipul design">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
								<img class="img-fluid" src="{{ url_for('static', filename='img/project/fraud.jpeg') }}" alt="">
        						<a class="light" href="{{ url_for('static', filename='img/project/fraud.jpeg') }}"><img src="{{ url_for('static', filename='img/gallery/icon.png') }}" alt="">
								</a>
        					</div>
        					<div class="g_item_text">
        						<h4>Fraud Detection in Financial Transactions
								</h4>
								<a href="https://github.com/ratheesh98git/Fraud-Detection-in-Financial-Transactions-" class="btn btn-primary" target="_blank" ><span>View on GitHub</span></a>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-4 col-sm-6 brand creative">
        				<div class="h_gallery_item">
        					<div class="g_img_item">
								<img class="img-fluid" src="{{ url_for('static', filename='img/project/automated_trading_bot.jpeg') }}" alt="">
        						<a class="light" href="{{ url_for('static', filename='img/project/automated_trading_bot.jpeg') }}"><img src="{{ url_for('static', filename='img/gallery/icon.png') }}" alt="">
								</a>
        					</div>
        					<div class="g_item_text">
        						<h4>Automated Stock Trading System</h4>
								<a href="https://github.com/ratheesh98git/Automated-Stock-Trading-Bot-with-flask" class="ratheesh"><span>View on GitHub</span></a>
        					</div>
        				</div>
        			</div>
        		</div>
        		<div class="more_btn">
        			<a class="main_btn" href="{{ url_for('python_project') }}">Load More Items</a>
        		</div>
        	</div>
        </section>
        <!--================End Home Gallery Area =================-->
        
        <!--================Testimonials Area =================-->
		<section class="testimonials_area p_120">
			<div class="container">
				<div class="main_title">
					<h2>Testimonials</h2>
					<p>Hear from those who have worked with me on various Python projects. Their experiences highlight my commitment to excellence and the impact of my work.</p>
				</div>
				<div class="testi_inner">
					<div class="testi_slider owl-carousel">
						<div class="item">
							<div class="testi_item">
								<p style="color:black; font-size:15px;">Working with vision group (leaderboard) on our web scraping project was a game-changer. His expertise in Python helped us automate data collection, saving us countless hours each week.</p>
								<h4>anieesh Team leader</h4>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="testi_item">
								<p style="color:black; font-size:15px;">Ratheesh R's ability to solve complex problems with Python is remarkable. He developed a custom solution that significantly improved our data processing pipeline.</p>
								<h4>akash</h4>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star-half-o"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="testi_item">
								<p style="color:black; font-size:15px;">Ratheesh  completed an internship at M Squared Training Center in Karyavattom, under the guidance of his trainer, Geetha. His ability to solve complex problems with Python is remarkable. He developed a custom solution that significantly improved our data processing pipeline.</p>
								<h4>Geetha (trainer)</h4>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star"></i></a>
								<a href="#"><i class="fa fa-star-half-o"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
        <!--================End Testimonials Area =================-->
		{% endblock %}

   