<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
        <title>MeetMe Personal</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='vendors/linericon/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='vendors/lightbox/simpleLightbox.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='vendors/nice-select/css/nice-select.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='vendors/animate-css/animate.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='vendors/popup/magnific-popup.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='vendors/flaticon/flaticon.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index_project_card.css') }}">

		<!-- main css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-L1UULIw5GTGnM2OqDURf4rDTMDu6uQ1VO1SGExTp4PcM8K5yG+AB2eZLu6kW9X03RpZ6D2l5Zrl+MtKgHdFh8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/project_section.css') }}">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
<style>
	.sticky {
		position: fixed;
		top: 0;
		width: 100%;
        background: linear-gradient(to bottom right, #2980b9, #3498db); /* Linear gradient from top left (#2980b9) to bottom right (#3498db) */
		z-index: 1000; /* Adjust the z-index as needed */
	  }

	  body {
        background-color: #000000; /* Set background color to black */
        color: #ffffff; /* Set text color to white for better visibility */
    }

</style>


</head>
<body>
 
    <header class="header_area" id="header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <!-- Brand and toggle get grouped for better mobile display -->
                     
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li> 
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li> 
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="{{ url_for('python_project') }}">Python/ML</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ url_for('elements') }}">certifications</a></li>
                                </ul>
                            </li> 
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('resume') }}">resume</a></li> 

                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="{{ url_for('blog') }}">Blog</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ url_for('single_blog') }}">Blog Details</a></li>
                                </ul>
                            </li> 
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                        </ul>
                    </div>			
                </div>
            </nav>
        </div>
    </header>
         <!--================Home Banner Area =================-->
         
         <!--================End My Tabs Area =================-->
         
         <!--================Feature Area =================-->
        
         <!--================End Feature Area =================-->
         
         <!--================Home Gallery Area =================-->
     


         {% block content %}




         {% endblock %}


         <footer class="footer_area p_120">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>About Me</h3>
        					</div>
        					<p>Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills,</p>
        					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &reg; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.w3schools.com/python/default.asp" target="_blank">R.Ratheesh</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        				</aside>
        			</div>
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget news_widget">
        					<div class="f_title">
        						<h3>Newsletter</h3>
        					</div>
        					<p>Stay updated with our latest trends</p>
        					<div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                	<div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                                    </div>				
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
        				</aside>
        			</div>
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Follow Me</h3>
        					</div>
        					<p>Let us be social</p>
        					<ul class="list">
        						<li><a href="https://www.facebook.com/r.ratheesh.92/"  target="_blank"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="https://x.com/RRatheesh01"><i class="fa fa-twitter"  target="_blank"></i></a></li>
        						<li><a href="mailto:ratheesh.rit@gmail.com" target="_blank"><i class="fa fa-google"></i></a></li>
        						<li><a href="https://www.linkedin.com/in/ratheesh-pythondeveloper/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
        					</ul>
        				</aside>
        			</div>
        		</div>
        	</div>
        </footer>
         <!--================End Home Gallery Area =================-->
         
         <!--================Testimonials Area =================-->
         
         <script src="js/jquery-3.3.1.min.js"></script>
         <script src="js/popper.js"></script>
         <script src="js/bootstrap.min.js"></script>
         <script src="js/stellar.js"></script>
         <script src="vendors/lightbox/simpleLightbox.min.js"></script>
         <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
         <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
         <script src="vendors/isotope/isotope.pkgd.min.js"></script>
         <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
         <script src="vendors/popup/jquery.magnific-popup.min.js"></script>
         <script src="js/jquery.ajaxchimp.min.js"></script>
         <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
         <script src="vendors/counter-up/jquery.counterup.min.js"></script>
         <script src="js/mail-script.js"></script>
         <script src="js/theme.js"></script>
 
 
         <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" integrity="sha512-F/V9/aZ8in0ke4o4T60TZ0iRkiOGFFpYFuxUcJ1xReKcDqbfLLTrqFEDQUFaz3YddQ4/2AP5dJ2ZD9ot1mgAxA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script>
   $(document).ready(function() {
     var header = document.getElementById("header");
     var sticky = header.offsetTop;
 
     window.onscroll = function() {myFunction()};
 
     function myFunction() {
       if (window.pageYOffset > sticky) {
         header.classList.add("sticky");
       } else {
         header.classList.remove("sticky");
       }
     }
   });
 
 
 </script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>