<!DOCTYPE html>
<html lang="pl">
<head>
    <!-- Meta tags and links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0e035b9984.js" crossorigin="anonymous"></script>


    <style>
        
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="82">
    <header id="home">
        <nav id="navbar" class="navbar navbar-expand-lg position-fixed top-0 w-100 py-2">
            <div class="container">
                <a class="navbar-brand" href="index.html">Ratheesh</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link" href="#">Home</a>
                        <a class="nav-link" href="#">About me</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Project
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Python Project/Ml</a></li>
                                <li><a class="dropdown-item" href="#">certificate</a></li>
                            </ul>
                        </div>
                        <a class="nav-link" href="#">Resume</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Blog
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Blog</a></li>
                                <li><a class="dropdown-item" href="#">Blog Details</a></li>
                            </ul>
                        </div>
                        <a class="nav-link" href="#">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <!-- Main content section -->
        <div class="container">
            <div class="row mainmargin">
                <!-- Content and sidebar here -->
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="text-center text-uppercase py-5">
        <div class="footer-icons">
            <a href="#"><img src="{{ url_for('static', filename='img/facebook-footer.svg') }}" alt=""></a>
            <a href="#"><img src="{{ url_for('static', filename='img/instagramm-footer.svg') }}" alt=""></a>
            <a href="#"><img src="{{ url_for('static', filename='img/pinterest-footer.svg') }}" alt=""></a>
        </div>
        <div class="copyright pt-4 text-muted text-center">
            <p>&copy; 2022 YOUR-DOMAIN | Created by <a href="https://firmbee.com/solutions/free-invoicing-app-billing-software/" title="Firmbee - Free Invoicing App" target="_blank">Firmbee.com</a></p>
        </div>
    </footer>

    <!-- Copyright notice -->
    <div class="fb2022-copy">Fbee 2022 copyright</div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
